
.project-link{
  display: block;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: #1F1D23;
  padding-bottom: 2px;
  font-size: 0.8em;
  margin-left: 5px;
  font-style: italic;
  transition: all 0.5s ease;
}

.project-link-active {
  font-weight: 800;
  font-size: 0.85em;
  font-style: normal;
  letter-spacing: 0.08em;
}

.project-link+.project-link {
  padding-bottom: 2px;
}

.project-header {
  font-weight: 800;
  font-size: 0.85em;
  padding-bottom: 2px;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.08rem;
  margin: 0
}