
.project-link{
  display: block;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: #1F1D23;
  margin-bottom: 2px;
  font-size: 0.8em;
  margin-left: 5px;
  font-style: italic;
}

.project-link+.project-link {
  margin-bottom: 2px;
}

.project-header {
  font-weight: 800;
  font-size: 0.8em;
  margin-bottom: 2px;
}