.footer {
  position: absolute;
  bottom: 25px;
  border: 5px #1F1D23 solid;
  padding: 5px;
}

.footer-link {
  display: inline-block;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: #1F1D23;
  margin-right: 10px;
}

.footer-link+.footer-link {
  margin-right: 10px;
}