.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1% 0;
  z-index: 10;
  background-color: #fff;
}

.footer-link {
  display: inline-block;
  text-decoration: none;
  color: #B7B4BD;
  margin-right: 10px;
  font-size: 0.85em;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.08rem;
}

.info-box {
  display: inline-block;
  margin-left: 2%;
}

.info-box-text {
  color: #1F1D23;
  margin: 0;
  outline: 0;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.05rem;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 0.08em;
  font-size: 0.85em
}
.social-links {
  margin-right: 2%;
  display: inline-block;
  float: right;
}

.footer-link+.footer-link {
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  .footer {
    text-align: center;
  }
  .social-links  {
    float: none;
    margin-left: 2%;
    display: none;
  }
}