.project-body {
  max-width: 800px;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  margin-top: 50%;
}

.project-body-header {
  position: relative;
  margin: 100vh auto auto;
  max-width: 400px;
  text-align: center
}

.project-title {
  font-size: 1em;
  margin: 0;
}

.project-descripton {
  margin: 5px 0 0 0;
}

.project-body-images {
  position: relative;
  margin-top: 25vh;
}

.project-body-image {
  width: 100%;
}

.project-description-scroll {
    position: relative; 
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    display: block;
    background: url('https://s3-eu-west-1.amazonaws.com/iamdeaneyelid/arrow-down.png') 5px no-repeat;
    transform: translateX(-50%);
    background-size: contain;
    background-position: center;
    border: 0;
    left: 50%;
    bottom: 2%;
    width: 50px;
    margin-top: 50%;
}