.header {
  display: block;
  width: 250px;
  text-align: left;
} 

.header-title {
  margin: 0;
  padding: 0;
  font-size: 1em;
  letter-spacing: 0.08rem;
  cursor: wait;
  text-decoration: none;
  color: #1D1B23;
  font-weight: 800;
}

.header-tagline {
  margin-top: 0;
  padding: 0;
  letter-spacing: 0.05rem;
  cursor: wait;
  color: #1D1B23;
  font-size: 0.8em
}
