.header {
  display: block;
  width: 250px;
  text-align: left;
  line-height: 1.25
} 

.header-title {
  margin: 0;
  padding: 0;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  color: #1D1B23;
  font-weight: 800;
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0.05rem;
  line-height: 1;
  transition: all 0.5s ease;
}

.header-title-active {
  font-size: 1.05em;
}

.header-tagline {
  margin-top: 0;
  padding: 0;
  letter-spacing: 0.05rem;
  cursor: default;
  color: #1D1B23;
  font-size: 0.8em
}

.header-mobile-menu-item {
  margin-left: 0 !important;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 20px;
  right: 2%;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  color: #1F1D23;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  color: #1F1D23;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 767px) {
  .header {
    width: 96%;
    background-color: #fff;
    padding: 2%;
  }
}