
.home {
  margin: 2%;
}

.home-header {
  display: block;
  width: 250px;
  text-align: left;
} 

.home-title {
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  cursor: wait;
}

.home-tagline {
  margin-top: 0;
  padding: 0;
  letter-spacing: 0.05rem;
  cursor: wait;
}

.home-link {
  display: inline-block;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: #1F1D23;
}

.home-link-project {
  display: block;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: #1F1D23;
  margin-bottom: 5px;
}

.home-cv {
  margin-right: 10px;
}

.home-footer {
  position: absolute;
  bottom: 25px;
  border: 5px #1F1D23 solid;
  padding: 5px;
}

.home-link+.home-link {
  margin-right: 10px;
}

.home-link-project+.home-link-project {
  margin-bottom: 5px;
}
.home-projects {
  font-weight: 800;
}